img.wp-smiley,img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

#wp-admin-bar-two_options{
    position: relative;
  }
  #two_styles_list{
    position: absolute;
    border: 1px solid #000000;
    color: #fff;
    background-color: #0A0A0A;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
  #two_styles_list ul{
    display: inline-block;
  }
  #two_styles_list ul li{
    display: block;
    border-bottom: 1px solid #5d616387;
  }
  #two_styles_list ul li .two_el_id{
      width: 250px;
      display: block;
    color: #f8f8f9;
    font-size: 14px;
    font-weight: 500;
  }
  #two_styles_list ul li .two_el_id span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px;
    display: inline-block;
  }
  .two_css_options_list{
    display: inline-block;
  }
  .two_option_group label{
    color: #989b9e;
    cursor: pointer !important;
   }
  .two_option_group{
    padding: 3px 0 !important;
  }
  #wp-admin-bar-two_options .two_option_container {
    display: block;
    position: relative !important;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #wp-admin-bar-two_options .two_option_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  #wp-admin-bar-two_options .wxao_checkmark {
    position: absolute !important;
    top: 7px;
    left: 0;
    height: 18px !important;
    width: 18px !important;
    background-color: #474d51;
    border-radius: 50%;
  }
  #wp-admin-bar-two_options .two_option_container input:checked ~ .wxao_checkmark {
    background-color: #3a4045;
  }
  #wp-admin-bar-two_options .wxao_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  #wp-admin-bar-two_options .two_option_container input:checked ~ .wxao_checkmark:after {
    display: block;
  }
  #wp-admin-bar-two_options .two_option_container .wxao_checkmark:after {
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    border: solid #35a0c6 1px;
    border-radius: 50%;
    background-color: #35a0c6;
  
  }
  #two_styles_list{
    display: none;
  }
  #wp-admin-bar-two_options:hover #two_styles_list{
    display: block;
  }
  .two_hidden{
    display: none;
  }
  #two_styles_list .two_el_id{
    position: relative;
  }
  #two_styles_list .two_el_id::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    right: 9px;
    background-size: cover;
  }
.err-wi-image{
    text-align:center
}
.err-wi-image a{
    display:inline-block
}
.err-wi-image a img[src$=".svg"]{
    width:48px
}
.err-wi-image img{
    vertical-align:middle;display:inline-block;
}

.etith{
    padding:0;margin:0;line-height:1;
}
.headwi .etith[class*=err-size-]>a{
    color:inherit;font-size:inherit;line-height:inherit;
}
.headwi .etith.err-size-small{
    font-size:15px
}
.headwi .etith.err-size-medium{
    font-size:19px
}
.headwi .etith.err-size-large{
    font-size:29px
}
.headwi .etith.err-size-xl{
    font-size:39px
}
.headwi .etith.err-size-xxl{
    font-size:59px
}
.err-wi-video .err-wi-container{
    overflow:hidden;transform:translateZ(0);
}
.err-wi-video .err-wrapper{
    aspect-ratio:var(--video-aspect-ratio)
}
.err-wi-video .err-wrapper iframe,.err-wi-video .err-wrapper video{
    height:100%;
    width:100%;
    display:flex;
    border:none;
    background-color:#000
}

.err-wi-video .err-wrapper iframe,.err-wi-video .err-wrapper video{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.err-wi-video .opinli .err-custom-embed-image-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50%
}
.err-wi-video .err-custom-embed-image-overlay{
    cursor:pointer;text-align:center
}
.err-wi-video .err-custom-embed-image-overlay:hover .err-custom-embed-play i{
    opacity:1
}
.err-wi-video .err-custom-embed-image-overlay img{
    display:block;width:100%
}
.err-wi-video .e-hosted-video .err-video{
    -o-object-fit:cover;object-fit:cover
}
.e-con-inner>.err-wi-video,.e-con>.err-wi-video{
    width:var(--container-wi-width);--flex-grow:var(--container-wi-flex-grow)
}

.imabo .err-image-box-content{
    width:100%
}@media (min-width:768px){
.imabo.err-position-left .imwrap,.imabo.erpo-to .imwrap{
    display:flex
}
.imabo.erpo-to .imwrap{
    text-align:right;flex-direction:row-reverse
}
.imabo.err-position-left .imwrap{
    text-align:left;flex-direction:row
}
.imabo.erver-top .box-eimg{
    margin:auto
}
.imabo.ver-top .imwrap{
    align-items:flex-start
}
.imabo.erpo-mi .imwrap{
    align-items:center
}
.imabo.err-vertical-align-bottom .imwrap{
    align-items:flex-end}
}

.imabo .box-eimg{
    display:inline-block
}
.imabo .err-image-box-title a{
    color:inherit
}
.imabo .imwrap{
    text-align:center
}
.imabo .err-image-box-description{
    margin:0
}

.err-wi-social-icons.err-grid-0 .err-wi-container,.err-wi-social-icons.err-grid-mobile-0 .err-wi-container,.err-wi-social-icons.err-grid-tablet-0 .err-wi-container{
    line-height:1;font-size:0
}
.err-wi-social-icons:not(.err-grid-0):not(.err-grid-tablet-0):not(.err-grid-mobile-0) .err-grid{
    display:inline-grid
}
.err-wi-social-icons .err-grid{
    grid-column-gap:var(--grid-column-gap,5px);grid-row-gap:var(--grid-row-gap,5px);grid-template-columns:var(--grid-template-columns);justify-content:var(--justify-content,center);justify-items:var(--justify-content,center)
}
.err-icon.err-social-icon{
    font-size:var(--icon-size,25px);line-height:var(--icon-size,25px);width:calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)));height:calc(var(--icon-size, 25px) + (2 * var(--icon-padding, .5em)))
}
.err-social-icon{
    --e-social-icon-icon-color:#fff;display:inline-flex;background-color:#69727d;align-items:center;justify-content:center;text-align:center;cursor:pointer
}
.err-social-icon i{
    color:var(--e-social-icon-icon-color)
}
.err-social-icon svg{
    fill:var(--e-social-icon-icon-color)
}
.err-social-icon:last-child{
    margin:0
}
.err-social-icon:hover{
    opacity:.9;color:#fff
}
.err-social-icon-android{
    background-color:#a4c639
}
.err-social-icon-apple{
    background-color:#999
}
.err-social-icon-behance{
    background-color:#1769ff
}
.err-social-icon-bitbucket{
    background-color:#205081
}
.err-social-icon-codepen{
    background-color:#000
}
.err-social-icon-delicious{
    background-color:#39f
}
.err-social-icon-deviantart{
    background-color:#05cc47
}
.err-social-icon-digg{
    background-color:#005be2
}
.err-social-icon-dribbble{
    background-color:#ea4c89
}
.err-social-icon-err{
    background-color:#d30c5c
}
.err-social-icon-envelope{
    background-color:#ea4335
}
.err-social-icon-facebook,.err-social-icon-facebook-f{
    background-color:#3b5998
}
.err-social-icon-flickr{
    background-color:#0063dc
}
.err-social-icon-foursquare{
    background-color:#2d5be3
}
.err-social-icon-free-code-camp,.err-social-icon-freecodecamp{
    background-color:#006400
}
.err-social-icon-github{
    background-color:#333
}
.err-social-icon-gitlab{
    background-color:#e24329
}
.err-social-icon-globe{background-color:#69727d}
.err-social-icon-google-plus,.err-social-icon-google-plus-g{background-color:#dd4b39}
.err-social-icon-houzz{background-color:#7ac142}
.err-social-icon-instagram{background-color:#262626}
.err-shape-rounded .err-icon.err-social-icon{border-radius:10%}
.err-shape-circle .err-icon.err-social-icon{border-radius:50%}

.err-166 .hello.hello-mnkLAQmk{
    text-align:center;
    font-size:0.75rem;
    font-weight:600;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0px;
    width:var( --container-wi-width, 5.5% );
    max-width:5.5%;
    --container-wi-width:5.5%;
    --container-wi-flex-grow:0;
}
.err-166 .hello.hello-mnkLAQmk > .err-wi-container{
    margin:7.5% 0.0% 0.0% 37.7%;
    padding:0.9% 0.0% 1.9% 0.0%;
    background-color:rgba(0, 0, 0, 0);
}
.err-166 .hello.hello-6cb0CRW3{
    text-align:center;
    font-size:0.75rem;
    font-weight:600;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0px;
    width:var( --container-wi-width, 8.3% );
    max-width:8.3%;
    --container-wi-width:8.3%;
    --container-wi-flex-grow:0;
}
.err-166 .hello.hello-mnkLAQmk > .err-wi-container{
    margin:0px 0px 0px 0px;
}
.err-73 .hello.hello-abc{
    --padding-top:0.0px;
    --padding-right:0.0px;
    --padding-bottom:0.0px;
    --padding-left:0.0px;
}
.hello .swiper-container .swiper-slide figure,.hello .swiper .swiper-slide figure,.err-lightbox .swiper-container .swiper-slide figure,.err-lightbox .swiper .swiper-slide figure{
    line-height:0
}
.hello .swiper-container .err-lightbox-content-source,.hello .swiper .err-lightbox-content-source,.err-lightbox .swiper-container .err-lightbox-content-source,.err-lightbox .swiper .err-lightbox-content-source{
    display:none
}
.hello .swiper-container .err-swiper-button,.hello .swiper-container~.err-swiper-button,.hello .swiper .err-swiper-button,.hello .swiper~.err-swiper-button,.err-lightbox .swiper-container .err-swiper-button,.err-lightbox .swiper-container~.err-swiper-button,.err-lightbox .swiper .err-swiper-button,.err-lightbox .swiper~.err-swiper-button{
    position:absolute;
    display:inline-flex;
    z-index:1;
    cursor:pointer;
    font-size:25px;
    color:hsla(0,0%,93.3%,.9);
    top:50%;
    transform:translateY(-50%)
}
.hello .swiper-container .err-swiper-button svg,.hello .swiper-container~.err-swiper-button svg,.hello .swiper .err-swiper-button svg,.hello .swiper~.err-swiper-button svg,.err-lightbox .swiper-container .err-swiper-button svg,.err-lightbox .swiper-container~.err-swiper-button svg,.err-lightbox .swiper .err-swiper-button svg,.err-lightbox .swiper~.err-swiper-button svg{
    fill:hsla(0,0%,93.3%,.9);
    height:1em;
    width:1em
}
.hello .swiper-container .err-swiper-button-prev,.hello .swiper-container~.err-swiper-button-prev,.hello .swiper .err-swiper-button-prev,.hello .swiper~.err-swiper-button-prev,.err-lightbox .swiper-container .err-swiper-button-prev,.err-lightbox .swiper-container~.err-swiper-button-prev,.err-lightbox .swiper .err-swiper-button-prev,.err-lightbox .swiper~.err-swiper-button-prev{
    left:10px
}
.hello .swiper-container .err-swiper-button-next,.hello .swiper-container~.err-swiper-button-next,.hello .swiper .err-swiper-button-next,.hello .swiper~.err-swiper-button-next,.err-lightbox .swiper-container .err-swiper-button-next,.err-lightbox .swiper-container~.err-swiper-button-next,.err-lightbox .swiper .err-swiper-button-next,.err-lightbox .swiper~.err-swiper-button-next{
    right:10px
}
.hello .swiper-container .err-swiper-button.swiper-button-disabled,.hello .swiper-container~.err-swiper-button.swiper-button-disabled,.hello .swiper .err-swiper-button.swiper-button-disabled,.hello .swiper~.err-swiper-button.swiper-button-disabled,.err-lightbox .swiper-container .err-swiper-button.swiper-button-disabled,.err-lightbox .swiper-container~.err-swiper-button.swiper-button-disabled,.err-lightbox .swiper .err-swiper-button.swiper-button-disabled,.err-lightbox .swiper~.err-swiper-button.swiper-button-disabled{opacity:.3}
.hello .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image,.hello .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image,.err-lightbox .swiper-container .swiper-image-stretch .swiper-slide .swiper-slide-image,.err-lightbox .swiper .swiper-image-stretch .swiper-slide .swiper-slide-image{width:100%}
.hello .swiper-container .swiper-horizontal>.swiper-pagination-bullets,.hello .swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal,.hello .swiper-container .swiper-pagination-custom,.hello .swiper-container .swiper-pagination-fraction,.hello .swiper-container~.swiper-pagination-bullets.swiper-pagination-horizontal,.hello .swiper-container~.swiper-pagination-custom,.hello .swiper-container~.swiper-pagination-fraction,.hello .swiper .swiper-horizontal>.swiper-pagination-bullets,.hello .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,.hello .swiper .swiper-pagination-custom,.hello .swiper .swiper-pagination-fraction,.hello .swiper~.swiper-pagination-bullets.swiper-pagination-horizontal,.hello .swiper~.swiper-pagination-custom,.hello .swiper~.swiper-pagination-fraction,.err-lightbox .swiper-container .swiper-horizontal>.swiper-pagination-bullets,.err-lightbox .swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal,.err-lightbox .swiper-container .swiper-pagination-custom,.err-lightbox .swiper-container .swiper-pagination-fraction,.err-lightbox .swiper-container~.swiper-pagination-bullets.swiper-pagination-horizontal,.err-lightbox .swiper-container~.swiper-pagination-custom,.err-lightbox .swiper-container~.swiper-pagination-fraction,.err-lightbox .swiper .swiper-horizontal>.swiper-pagination-bullets,.err-lightbox .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,.err-lightbox .swiper .swiper-pagination-custom,.err-lightbox .swiper .swiper-pagination-fraction,.err-lightbox .swiper~.swiper-pagination-bullets.swiper-pagination-horizontal,.err-lightbox .swiper~.swiper-pagination-custom,.err-lightbox .swiper~.swiper-pagination-fraction{bottom:5px}.hello .swiper-container.swiper-cube .err-swiper-button,.hello .swiper-container.swiper-cube~.err-swiper-button,.hello .swiper.swiper-cube .err-swiper-button,.hello .swiper.swiper-cube~.err-swiper-button,.err-lightbox .swiper-container.swiper-cube .err-swiper-button,.err-lightbox .swiper-container.swiper-cube~.err-swiper-button,.err-lightbox .swiper.swiper-cube .err-swiper-button,.err-lightbox .swiper.swiper-cube~.err-swiper-button{transform:translate3d(0,-50%,1px)}.hello :where(.swiper-container-horizontal)~.swiper-pagination-bullets,.err-lightbox :where(.swiper-container-horizontal)~.swiper-pagination-bullets{
    bottom:5px;
    left:0;
    width:100%
}
.hello :where(.swiper-container-horizontal)~.swiper-pagination-bullets .swiper-pagination-bullet,.err-lightbox :where(.swiper-container-horizontal)~.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 var(--swiper-pagination-bullet-horizontal-gap,4px)}.hello :where(.swiper-container-horizontal)~.swiper-pagination-progressbar,.err-lightbox :where(.swiper-container-horizontal)~.swiper-pagination-progressbar{width:100%;height:4px;left:0;top:0}.hello.err-pagination-position-outside .swiper,.hello.err-pagination-position-outside .swiper-container,.err-lightbox.err-pagination-position-outside .swiper,.err-lightbox.err-pagination-position-outside .swiper-container{padding-bottom:30px}.hello.err-pagination-position-outside .swiper-container .err-swiper-button,.hello.err-pagination-position-outside .swiper-container~.err-swiper-button,.hello.err-pagination-position-outside .swiper .err-swiper-button,.hello.err-pagination-position-outside .swiper~.err-swiper-button,.err-lightbox.err-pagination-position-outside .swiper-container .err-swiper-button,.err-lightbox.err-pagination-position-outside .swiper-container~.err-swiper-button,.err-lightbox.err-pagination-position-outside .swiper .err-swiper-button,.err-lightbox.err-pagination-position-outside .swiper~.err-swiper-button{top:calc(50% - 30px / 2)}.hello .err-swiper,.err-lightbox .err-swiper{position:relative}.hello .err-main-swiper,.err-lightbox .err-main-swiper{position:static}.hello.err-arrows-position-outside .swiper,.hello.err-arrows-position-outside .swiper-container,.err-lightbox.err-arrows-position-outside .swiper,.err-lightbox.err-arrows-position-outside .swiper-container{width:calc(100% - 60px)}.hello.err-arrows-position-outside .swiper-container .err-swiper-button-prev,.hello.err-arrows-position-outside .swiper-container~.err-swiper-button-prev,.hello.err-arrows-position-outside .swiper .err-swiper-button-prev,.hello.err-arrows-position-outside .swiper~.err-swiper-button-prev,.err-lightbox.err-arrows-position-outside .swiper-container .err-swiper-button-prev,.err-lightbox.err-arrows-position-outside .swiper-container~.err-swiper-button-prev,.err-lightbox.err-arrows-position-outside .swiper .err-swiper-button-prev,.err-lightbox.err-arrows-position-outside .swiper~.err-swiper-button-prev{left:0}.hello.err-arrows-position-outside .swiper-container .err-swiper-button-next,.hello.err-arrows-position-outside .swiper-container~.err-swiper-button-next,.hello.err-arrows-position-outside .swiper .err-swiper-button-next,.hello.err-arrows-position-outside .swiper~.err-swiper-button-next,.err-lightbox.err-arrows-position-outside .swiper-container .err-swiper-button-next,.err-lightbox.err-arrows-position-outside .swiper-container~.err-swiper-button-next,.err-lightbox.err-arrows-position-outside .swiper .err-swiper-button-next,.err-lightbox.err-arrows-position-outside .swiper~.err-swiper-button-next{right:0}.err-lightbox{--lightbox-ui-color:hsla(0,0%,93.3%,0.9);--lightbox-ui-color-hover:#fff;--lightbox-text-color:var(--lightbox-ui-color);--lightbox-header-icons-size:20px;--lightbox-navigation-icons-size:25px}.err-lightbox:not(.err-popup-modal) .dialog-header,.err-lightbox:not(.err-popup-modal) .dialog-message{text-align:center}.err-lightbox .dialog-header{display:none}
.err-lightbox .dialog-wi-content{
    background:none;
    box-shadow:none;
    width:100%;
    height:100%
}
.err-lightbox .dialog-message{
    animation-duration:.3s
}
.err-lightbox .dialog-message:not(.err-fit-aspect-ratio){
    height:100%
}
.err-lightbox .dialog-message.dialog-lightbox-message{
    padding:0
}
.err-kit-183{
    --e-global-color-primary:#000000;
    --e-global-color-secondary:#FFFFFF;
    --e-global-color-text:#000000;
    --e-global-color-accent:#EE3425;
    --e-global-color-inverse_primary:#434343;
    --e-global-typography-primary-font-family:"PT Sans";
    --e-global-typography-primary-font-size:1.25rem;
    --e-global-typography-primary-font-weight:700;
    --e-global-typography-primary-line-height:1.5em;
    --e-global-typography-secondary-font-family:"PT Sans";
    --e-global-typography-text-font-family:"PT Sans";
    --e-global-typography-text-font-size:0.875rem;
    --e-global-typography-text-font-weight:400;
    --e-global-typography-text-line-height:1.5em;
    --e-global-typography-accent-font-family:"PT Sans";
    --e-global-typography-accent-font-size:0.875rem;
    --e-global-typography-accent-font-weight:400;
    --e-global-typography-accent-line-height:1.5em;
    --e-global-typography-inverse_primary-font-family:"PT Sans";
}
.err-section.err-section-boxed > .err-container{
    max-width:1140px;
}
.e-con{
    --container-max-width:1140px;
}
.err-wi:not(:last-child){
    margin-bottom:20px;
}
.hello{
    --wis-spacing:20px;
}
h1.entry-title{
    display:var(--page-title-display);
}

.e-con{--container-max-width:767px;}

.hello-aal{
    text-align: left;
    color: rgb(67, 67, 67);
    font-size: 1rem;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    width: 100%;
    max-width: 100%;
    margin: 3.4% 0.0% 0.0% 0.0%;
    padding: 0.3% 0.0% 0.3% 0.0%;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
}