img.wp-smiley,img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

#wp-admin-bar-two_options{
    position: relative;
  }
  #two_styles_list{
    position: absolute;
    border: 1px solid #000000;
    color: #fff;
    background-color: #0A0A0A;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
  #two_styles_list ul{
    display: inline-block;
  }
  #two_styles_list ul li{
    display: block;
    border-bottom: 1px solid #5d616387;
  }
  #two_styles_list ul li .two_el_id{
      width: 250px;
      display: block;
    color: #f8f8f9;
    font-size: 14px;
    font-weight: 500;
  }
  #two_styles_list ul li .two_el_id span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px;
    display: inline-block;
  }
  .two_css_options_list{
    display: inline-block;
  }
  .two_option_group label{
    color: #989b9e;
    cursor: pointer !important;
   }
  .two_option_group{
    padding: 3px 0 !important;
  }
  #wp-admin-bar-two_options .two_option_container {
    display: block;
    position: relative !important;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #wp-admin-bar-two_options .two_option_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  #wp-admin-bar-two_options .wxao_checkmark {
    position: absolute !important;
    top: 7px;
    left: 0;
    height: 18px !important;
    width: 18px !important;
    background-color: #474d51;
    border-radius: 50%;
  }
  #wp-admin-bar-two_options .two_option_container input:checked ~ .wxao_checkmark {
    background-color: #3a4045;
  }
  #wp-admin-bar-two_options .wxao_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  #wp-admin-bar-two_options .two_option_container input:checked ~ .wxao_checkmark:after {
    display: block;
  }
  #wp-admin-bar-two_options .two_option_container .wxao_checkmark:after {
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    border: solid #35a0c6 1px;
    border-radius: 50%;
    background-color: #35a0c6;
  
  }
  #two_styles_list{
    display: none;
  }
  #wp-admin-bar-two_options:hover #two_styles_list{
    display: block;
  }
  .two_hidden{
    display: none;
  }
  #two_styles_list .two_el_id{
    position: relative;
  }
  #two_styles_list .two_el_id::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    right: 9px;
    background-size: cover;
  }
.err-wi-image{
    text-align:center
}
.err-wi-image a{
    display:inline-block
}
.err-wi-image a img[src$=".svg"]{
    width:48px
}
.err-wi-image img{
    vertical-align:middle;display:inline-block;
}

.etith{
    padding:0;margin:0;line-height:1;
}

.err-wi-video .opinli .err-custom-embed-image-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50%
}
.err-wi-video .err-custom-embed-image-overlay{
    cursor:pointer;text-align:center
}
.err-wi-video .err-custom-embed-image-overlay:hover .err-custom-embed-play i{
    opacity:1
}
.err-wi-video .err-custom-embed-image-overlay img{
    display:block;width:100%
}
.err-wi-video .e-hosted-video .err-video{
    -o-object-fit:cover;object-fit:cover
}
.e-con-inner>.err-wi-video,.e-con>.err-wi-video{
    width:var(--container-wi-width);--flex-grow:var(--container-wi-flex-grow)
}

.imabo .err-image-box-content{
    width:100%
}@media (min-width:768px){
.imabo.err-position-left .imwrap,.imabo.erpo-to .imwrap{
    display:flex
}
.imabo.erpo-to .imwrap{
    text-align:right;flex-direction:row-reverse
}
.imabo.err-position-left .imwrap{
    text-align:left;flex-direction:row
}
.imabo.erver-top .box-eimg{
    margin:auto
}
.imabo.ver-top .imwrap{
    align-items:flex-start
}
.imabo.erpo-mi .imwrap{
    align-items:center
}
.imabo.err-vertical-align-bottom .imwrap{
    align-items:flex-end}
}

.imabo .box-eimg{
    display:inline-block
}
.imabo .err-image-box-title a{
    color:inherit
}
.imabo .imwrap{
    text-align:center
}
.imabo .err-image-box-description{
    margin:0
}

.err-166 .hello.hello-mnkLAQmk > .err-wi-container{
    margin:7.5% 0.0% 0.0% 37.7%;
    padding:0.9% 0.0% 1.9% 0.0%;
    background-color:rgba(0, 0, 0, 0);
}
.err-166 .hello.hello-6cb0CRW3{
    text-align:center;
    font-size:0.75rem;
    font-weight:600;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0px;
    width:var( --container-wi-width, 8.3% );
    max-width:8.3%;
    --container-wi-width:8.3%;
    --container-wi-flex-grow:0;
}
.err-166 .hello.hello-mnkLAQmk > .err-wi-container{
    margin:0px 0px 0px 0px;
}
.err-73 .hello.hello-abc{
    --padding-top:0.0px;
    --padding-right:0.0px;
    --padding-bottom:0.0px;
    --padding-left:0.0px;
}
.hello .swiper-container .swiper-slide figure,.hello .swiper .swiper-slide figure,.err-lightbox .swiper-container .swiper-slide figure,.err-lightbox .swiper .swiper-slide figure{
    line-height:0
}
.hello .swiper-container .err-lightbox-content-source,.hello .swiper .err-lightbox-content-source,.err-lightbox .swiper-container .err-lightbox-content-source,.err-lightbox .swiper .err-lightbox-content-source{
    display:none
}
.hello .swiper-container .err-swiper-button,.hello .swiper-container~.err-swiper-button,.hello .swiper .err-swiper-button,.hello .swiper~.err-swiper-button,.err-lightbox .swiper-container .err-swiper-button,.err-lightbox .swiper-container~.err-swiper-button,.err-lightbox .swiper .err-swiper-button,.err-lightbox .swiper~.err-swiper-button{
    position:absolute;
    display:inline-flex;
    z-index:1;
    cursor:pointer;
    font-size:25px;
    color:hsla(0,0%,93.3%,.9);
    top:50%;
    transform:translateY(-50%)
}
.err-lightbox .dialog-message{
    animation-duration:.3s
}
.err-lightbox .dialog-message:not(.err-fit-aspect-ratio){
    height:100%
}
.err-lightbox .dialog-message.dialog-lightbox-message{
    padding:0
}
.err-kit-183{
    --e-global-color-primary:#000000;
    --e-global-color-secondary:#FFFFFF;
    --e-global-color-text:#000000;
    --e-global-color-accent:#EE3425;
    --e-global-color-inverse_primary:#434343;
    --e-global-typography-primary-font-family:"PT Sans";
    --e-global-typography-primary-font-size:1.25rem;
    --e-global-typography-primary-font-weight:700;
    --e-global-typography-primary-line-height:1.5em;
    --e-global-typography-secondary-font-family:"PT Sans";
    --e-global-typography-text-font-family:"PT Sans";
    --e-global-typography-text-font-size:0.875rem;
    --e-global-typography-text-font-weight:400;
    --e-global-typography-text-line-height:1.5em;
    --e-global-typography-accent-font-family:"PT Sans";
    --e-global-typography-accent-font-size:0.875rem;
    --e-global-typography-accent-font-weight:400;
    --e-global-typography-accent-line-height:1.5em;
    --e-global-typography-inverse_primary-font-family:"PT Sans";
}
.err-section.err-section-boxed > .err-container{
    max-width:1140px;
}
.e-con{
    --container-max-width:1140px;
}
.err-wi:not(:last-child){
    margin-bottom:20px;
}
.hello{
    --wis-spacing:20px;
}
h1.entry-title{
    display:var(--page-title-display);
}

.err-73 .hello.hello-abb{
    text-align:center;
    font-family:"Ubuntu", Sans-serif;
    font-size:1rem;
    font-weight:700;
    text-transform:none;
    font-style:normal;
}
.hello-abc{
    display:flex;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    --container-wi-height:100%;
    --container-wi-flex-grow:1;
    --container-wi-align-self:stretch;
    --align-items:flex-start;
    --gap:0%;
    --background-transition:0.3s;
}

.hello-abd{
    text-align:center;
    font-family:"Ubuntu", Sans-serif;
    font-size:1rem;
    font-weight:700;
    letter-spacing:0px;
}

hello-abg{
    display:flex;
    min-height:138vh;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:0%;
    padding-top:2.1%;
    padding-right:1.0%;
    padding-bottom:0.8%;
    padding-left:1.0%;
}

hello-abj{
    display:flex;
    min-height:96vh;
    flex-direction:column;
    align-items:flex-start;
    gap:0%;
    margin-top:2.3%;
    margin-right:1.3%;
    margin-bottom:0.0%;
    margin-left:1.3%;
    padding-top:1.2%;
    padding-right:0.2%;
    padding-bottom:1.2%;
    padding-left:0.0%;
}

.hello-aca{
    display:flex;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    --container-wi-height:100%;
    --container-wi-flex-grow:1;
    align-items:flex-start;
    gap:0%;
    padding-right:35.0%;
    padding-bottom:2.4%;
    padding-left:0.0%;
}

.hello-ace{
    display:flex;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    --container-wi-height:100%;
}

.hello-acg .hello-aci{
    margin-left: 6px;
}

.hello-ack{
    text-align:center;
    width:100%;
    max-width:100%;
    font-family:"Ubuntu", Sans-serif;
    font-size:1.75rem;
    font-style:normal;
    line-height:1.2em;
    letter-spacing:0px;
}

.hello-acl{
    display:flex;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    --container-wi-align-self:stretch;
    justify-content:center;
    align-items:flex-start;
    gap:6.5%;
    margin-top:3.3%;
    padding-right:0.9%;
    padding-bottom:0.0%;
    padding-left:0.9%;
}

.hello-acn{
    font-size:1rem;
    font-weight:700;
    text-transform:none;
    font-style:normal;
    letter-spacing:0px;
}

.hello-acs{
    margin-left:8px;
}
.hello-act{
    display:flex;
    min-height:11vh;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    justify-content:center;
    align-items:flex-start;
    gap:31.8%;
    margin-top:10.4%;
    margin-right:0.0%;
    margin-bottom:0.0%;
    margin-left:0.0%;
    padding-top:2.1%;
    padding-right:1.0%;
    padding-bottom:2.3%;
    padding-left:1.0%;
}

.hello-acu{
    text-align:center;
    width:var( --container-wi-width, 57.7% );
    max-width:57.7%;
    --container-wi-width:57.7%;
}

.hello-acv .err-button{
    font-weight:700;
    text-transform:none;
    font-style:normal;
    line-height:1.2em;
    letter-spacing:0px;
    fill:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    border-style:solid;
    border-width:1px 1px 1px 1px;
    border-color:rgb(238, 52, 37);
    border-radius:4px 4px 4px 4px;
    padding:6.0px 20.4px 6.0px 20.4px;
}

.hello-acw{
    text-align:center;
    width:100%;
    max-width:100%;
}

.hello-acz .err-button{
    font-weight:700;
    line-height:1.2em;
    letter-spacing:0px;
    fill:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    background-color:rgba(229, 223, 223, 1);
    border-radius:20px 20px 20px 20px;
    padding:8.4px 26.4px 8.4px 26.4px;
}

.hello-add.err-position-left .box-eimg{
    margin-right:11px;
    margin-bottom:11px;
    width:14%;
    text-align:left;
    color:rgb(67, 67, 67);
}

.hello-ade{
    display:flex;
    flex-direction:column;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    align-items:flex-start;
    gap:0%;
    margin-top:104px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:0.0%;
    padding-right:0.0%;
    padding-bottom:0.0%;
    padding-left:0.0%;
}

.hello-adj{
    width:560px;
}
.hello-adk{
    display:flex;
    flex-direction:row;
    --container-wi-width:calc( ( 1 - var( --container-wi-flex-grow ) ) * 100% );
    justify-content:space-between;
    align-items:flex-start;
    gap:46.4%;
    margin-top:-6.8%;
    margin-right:0.0%;
    margin-bottom:0.0%;
    margin-left:0.0%;
    padding-top:0.0%;
    padding-right:0.0%;
    padding-bottom:0.0%;
    padding-left:0.0%;
    z-index:20;
}

.hello-adl{
    text-align:left;
    width:var( --container-wi-width, 26.8% );
    max-width:26.8%;
    --container-wi-width:26.8%;
    --container-wi-flex-grow:0;
    z-index:22;
}

.hello-adp{
    display:flex;
    min-height:25vh;
    flex-direction:column;
    align-items:flex-start;
    gap:0%;
    padding-top:1.7%;
    padding-right:1.0%;
    padding-bottom:2.2%;
    padding-left:1.0%;
}

.hello-adv{
    text-align:left;
    width:100%;
    max-width:100%;
    width:60px;
}

.hello-adz{
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:1rem;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0px;
    width:100%;
    max-width:100%;
}

.hello-aea .err-button{
    font-weight:700;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    line-height:1.2em;
    letter-spacing:0px;
    fill:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    background-color:rgba(251, 220, 0, 1);
    border-style:solid;
    border-width:1px 1px 1px 1px;
    border-color:rgb(238, 52, 37);
    border-radius:4px 4px 4px 4px;
    padding:6.0px 20.4px 6.0px 20.4px;
}

.hello-aeg .err-button{
    font-weight:700;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    line-height:1.2em;
    letter-spacing:0px;
    fill:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    border-style:solid;
    border-width:1px 1px 1px 1px;
    border-color:rgb(238, 52, 37);
    border-radius:4px 4px 4px 4px;
    padding:6.0px 33.6px 6.0px 33.6px;
}

.hello-aeh{
    display:flex;
    min-height:45vh;
    flex-direction:column;
    align-items:flex-start;
    gap:0%;
    margin-top:1.9%;
    margin-right:0.0%;
    margin-bottom:0.0%;
    margin-left:0.0%;
    padding-top:0.0%;
    padding-right:0.0%;
    padding-bottom:2.4%;
    padding-left:0.0%;
}

hello-aek{
    display:flex;
    flex-direction:column;
    padding-top:9.9%;
    padding-right:0.0%;
    padding-bottom:9.0%;
    padding-left:0.0%;
}

.hello-aem{
    text-align:center;
    color:rgb(67, 67, 67);
    font-size:1rem;
    text-transform:none;
    font-style:normal;
    text-decoration:none;
    letter-spacing:0px;
    width:100%;
    max-width:100%;
}



hello-abr{
    text-align:left;
    width:var( --container-wi-width, 39.6% );
    max-width:39.6%;
    --container-wi-width:39.6%;
    --container-wi-flex-grow:0;
}

.hello-aet .etith{
    color:rgb(67, 67, 67);
}

.hello-aeu .etith{
    color:rgb(67, 67, 67);
}

.hello-aew{
    text-align:left;
    color:rgb(67, 67, 67);
    font-size:1.25rem;
    font-weight:700;
    text-transform:none;
    font-style:normal;
    text-decoration:underline;
    letter-spacing:0px;
    width:var( --container-wi-width, 16.7% );
    max-width:16.7%;
}

.hello-aez{
    text-align:left;
    width:100%;
    max-width:100%;
}

.err-73 .hello .twbb-nav-menu--dropdown a.twbb-item, .err-73 .hello.hello-afa .sub-menu .twbb-sub-item{
    color:rgb(0, 0, 0);
}

.e-con{--container-max-width:767px;}

.hello-aar{
    text-align:center;
    width:var( --container-wi-width, 10.7% );
    max-width:10.7%;
}
.err-73 .hello.hello-aar .etith{
    color:rgb(238, 52, 37);
    font-family:"Ubuntu", Sans-serif;
    font-size:2.5rem;
    text-transform:none;
    font-style:normal;
    line-height:1.2em;
    letter-spacing:0px;
}

.hello-aat{
    text-align:center;
    width:var( --container-wi-width, 12.7% );
    max-width:12.7%;
    --container-wi-width:12.7%;
    --container-wi-flex-grow:0;
}
.err-73 .hello.hello-aat .etith{
    color:rgb(238, 52, 37);
    font-family:"Ubuntu", Sans-serif;
    font-size:2.5rem;
    text-transform:none;
    font-style:normal;
    line-height:1.2em;
    letter-spacing:0px;
}

.hello-aal{
    text-align: left;
    color: rgb(67, 67, 67);
    font-size: 1rem;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    width: 100%;
    max-width: 100%;
    margin: 3.4% 0.0% 0.0% 0.0%;
    padding: 0.3% 0.0% 0.3% 0.0%;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
}